<form #form [formGroup]="profileForm">
  <app-form-control-outlet formControlName="name"/>
</form>


{{profileForm.value | json}}

<button (click)="add()">Add</button>

<div class="grid">
    <ng-container *ngFor="let item of data">
      <div *ngIf="item.rowCount" [style.grid-row]="'span ' + item.rowCount + '/ span ' + item.rowCount" (click)="collapse(item,$event)">
        {{item.value}}
      </div>
      <div *ngIf="!item.rowCount" [class]="item.parentId">
        {{item.value}} 
      </div>

    </ng-container>
</div>